export(AverageSpecifiedComparison)
export(ComputeAPCFromPairs)
export(GetAPC)
export(GetAPCWithAbsolute)
export(GetApcDF)
export(GetPairs)
export(PlotApcDF)
export(PlotApcDF2)
import(assertthat)
import(ggplot2)
import(grid)
import(gridExtra)
import(plyr)
