export(AverageSpecifiedComparison)
export(ComputeAPCFromPairs)
export(GetPairs)
export(GetPredCompsDF)
export(GetSingleInputPredComps)
export(PlotPredCompsDF)
export(TransitionPlot)
import(assertthat)
import(ggplot2)
import(grid)
import(gridExtra)
import(plyr)
import(reshape2)
