S3method(ComputeAPCFromPairs,"function")
S3method(ComputeAPCFromPairs,glm)
S3method(ComputeAPCFromPairs,lm)
S3method(ComputeAPCFromPairs,randomForest)
export(AverageSpecifiedComparison)
export(ComputeAPCFromPairs)
export(GetPairs)
export(GetPredCompsDF)
export(GetSingleInputPredComps)
export(PlotPairCumulativeWeights)
export(PlotPredCompsDF)
export(TransitionPlot)
